# Compiled source #
###################
*.o
*.so
a.out
*.a
*.so

#   Temp files    #
###################

.*.swp
*~

#   QT generated  #
###################
moc_*.cpp

#     SCons     #
#################
.sconsign.dblite
